<nav id="mobile-nav" class="fixed-bottom">
    <ul class="nav mobile-nav p-2 justify-content-around">
        <li class="nav-item">
            <NavLink class="nav-link bg-warning" href="" Match="NavLinkMatch.All">
                <img src="images/house.svg" />
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link bg-success" href="map">
                <img src="images/marker.svg" />
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link bg-info" href="settings">
                <img src="images/gear.svg" />
            </NavLink>
        </li>
    </ul>
</nav>

@code {

}