<nav id="mobile-nav" class="fixed-bottom">
    <ul class="nav mobile-nav p-2 justify-content-around">
        <li class="nav-item">
            <a class="nav-link bg-warning" href="/">
                <img src="images/house.svg" />
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link bg-success" href="/map">
                <img src="images/marker.svg" />
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link bg-info" href="#">
                <img src="images/gear.svg" />
            </a>
        </li>
    </ul>
</nav>

