@page "/"

<div class="border-box">
	
	<h1>About Ambrosia artemisiifolia (ragweed) allergies</h1>
	<p>If your allergies flare up in the late summer or early fall, you’re probably allergic to ragweed. It’s the most common trigger for hay fever. About 1 out of 5 people get a reaction to it.</p>
	<h3>Ragweed Facts</h3>
	<p>Ragweed causes <b>symptoms</b> like stuffy or runny nose, sneezing, and itchy eyes. It can also trigger asthma flares.</p>
	<p>People who have ragweed allergies are reacting to its <b>pollen</b>. During ragweed season, one plant can release a billion grains of it into the air.</p>
	<p>Ragweed is worse when nights are cool and days are warm and dry.</p>
	<p>Its <b>season</b> usually starts in early August and ends in mid-October. Some researchers think climate change may be extending that season.</p>
	<p>Change your clothes and wash your hands after you've been outside. Ragweed <b>can stick</b> to skin or clothing.</p>
	<p>Don't dry laundry outside. It will pick up ragweed pollen. Dry your laundry in a dryer.</p>
	<h3>Treat Ragweed Allergies</h3>
	<p>Staying away from ragweed may not be enough. You may get help from: testing to make sure that you really have a ragweed allergy or over-the-counter or prescription medications
		<ul>
			<li>For most people with frequent symptoms, nasal steroids are the best treatment. If your symptoms are more mild, an oral antihistamine may be enough. Both are available over-the-counter.</li>
			<li>Early treatment. If your doctor says it's OK, start taking medications 2 weeks before ragweed season starts. That way you can stop the allergic reaction before it starts.</li>
			<li>Allergy shots, which can -- over the course of months or years -- get your body to develop a tolerance to ragweed so it no longer triggers an allergic reaction. Oral tablets placed under the tongue contain the same type of extracts used in allergy shots.</li>
		</ul>
	</p>
</div>