@page "/"
@using AmbrosiaAlert.Client.Components

<div id="home" class="container">
	<div class="row justify-content-center pb-3">
		<img style="width:50%" src=images/ambrosia.png />
	</div>
	<AmbrosiaTextWall/>
</div>