@page "/map"
@inject IJSRuntime JS

<div id="map" style="width:100%;height: 100vh"></div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        await JS.InvokeVoidAsync("createMap", "map");
    }
}
