@page "/settings"

<div id="settings">
    <h1 class="title-wrap">Settings</h1>
    <div class="grid-container">
      <img class="item-1" src="images/notifications.svg" />
      <h5>Notifications</h5>
      <div class="first">
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
      </div>  
      <img class="item-2" src="images/sun.svg" />
      <h5>Display</h5>
      <div class="second">
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
      </div>
      <img class="item-3" src="images/box-line.svg" />
      <h5>Logout</h5>
      <div> </div>
    </div>
</div>
