@page "/settings"
@inject NavigationManager NavManager

<div id="settings">
    <h1 class="pt-5 pb-4 text-center">Settings</h1>
    <div class="grid-container-settings">
        <img class="item item-notifications" src="images/notifications.svg" />
        <p class="m-0 w-100">Notifications</p>
        <Slider @bind-Value="ShowNotifications" />
        <img class="item item-display" src="images/sun.svg" />
        <p class="m-0 w-100">Display</p>
        <Slider @bind-Value="DarkTheme" />
        <img class="item item-logout" src="images/box-line.svg" @onclick="NavigateToLogin" />
        <p class="m-0 w-100" @onclick="NavigateToLogin">Logout</p>
    </div>
</div>

@code {
    private bool ShowNotifications { get; set; }
    private bool DarkTheme { get; set; }

    private void NavigateToLogin()
    {
        NavManager.NavigateTo("login");
    }
}
